/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2020, 5:31:20 PM
    Author     : Hobbit
*/
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

#backgroundImage{
  background-image:url("https://wallpaperaccess.com/full/404789.jpg");
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.bordesGuia{
    border-style: solid;
    border-color: black;
}

#parteSuperior{
    padding: 30px;
    z-index: 2;
    opacity: 0.9;
}

#parteMedio{
    margin-left: 10px;
    margin-right: 10px;
    z-index: 2;
}

#textoJugadores{
  background-color:#D11919;
  width: 400px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 7px;
  border-width: 2px;
  border-color: #450404;
  border-style: solid;
}

#izquierda{
	padding: 40px;
	text-align: center;
}

#izquierdaCentro{
	padding: 10px;
	font-size: 100%;
	text-align:center;
}

#colorCentro{
	background-color: #850808;
	border-color:#450404;
  border-width: 3px;
	border-radius: 10px;
	opacity: 0.95;
  text-align: center;
}

#imagen{
	padding:40px;
}

#columna3{
	padding: 90px;
}

#cartasJugador{
    padding: 15px;
}

#salaDeEspera{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: visible;
    margin: 0;
}

#nombreContrincante{
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}

#modalGanador{
    visibility: hidden !important;
    width: 500px;
    height: 500px;
    z-index: 999;
}
#nombreGanador{
    font-family: sans-serif;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    text-justify: inter-word;
    background: linear-gradient(to right, #6666FF, #0099FF , #00FF00, #FF3399, #6666FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}